/*--Mobile Design--*/
@media (max-width: 600px) {
    .limit-width{
        padding: 0;
    }
    /*--Header Section--*/
    /*for the logo to stay in place*/
    header{
        align-items: stretch;
    }
    /*putting the logo out of the flexflow*/
    #logo{
        position: absolute;
        margin-left: 1em;
    }
    nav{
        flex-direction: column-reverse;/*the anchors are put at the bottom*/
        align-items: flex-end;/*sign-in stay on the right*/
        width: 100%;/*the flexbox takes the whole width*/
    }
    .navlist{
        width: 100%;/*the anchors takes the whole width*/
        margin-top: 15px;
    }
    /*center the anchors text*/
    nav ul{
        padding-left: 0;
        text-align: center;
    }
    /*both anchors takes half the screen*/
    .navlist li{
        width: 50%;
    }
    .navlist a{
        display: inline-block;
        width: 100%;
        padding-bottom: 12px;
        border-bottom: 2px solid #f2f2f2;
    }
    .navlist a:hover{
        border-bottom-color: #0065FC;
    }
    /*remove rules for desktop*/
    .anchors{
        padding: 0;
        margin: 0;
        border: none;
    }
    /*--Search Section--*/
    section{
        width: 93%;
        margin: auto;
    }
    /*use form border to indicates focus on input text*/
    form.search-bar:focus-within{
        border-color: #0065FC;
    }
    /*display mobile design button*/
    #m-btn{
        display: block;
    }
    /*hides the desktop one*/
    #d-btn{
        display: none;
    }
    /*--Filters--*/
    
    #filter-box h3{
        width: 100%;/*the title takes the whole line to put the filters under*/
    }
    .filters{
        margin-bottom: 1em;/*replace the margin-bottom of the h3*/
    }
    /*--Housing Section--*/
    #housing{
        flex-direction: column-reverse;
    }
    #result-pop{
        width: initial;/*to take the whole width of housing section*/
        border-radius: 0;
        padding: 1em;
    }
    .aside-thumb{
        padding: 0.3em;
    }
    .aside-thumb img{
        width: 115px;
    }
    .aside-thumb div.rating-box{
        left: 128px;
    } 
    #search-result{
        width: initial;/*to take the whole width of housing section*/
        background: none;
        padding: 1em;
    }
    .thumbnail, .thumbnail img{
        width: 100%;
    }
    /*--Activity Section--*/
    #box-wrapper, #box-wrapper div.activity-box{
        display: flex;
        flex-direction: column;
    }
    .activity-box img{
        height: 200px;
    }
    /*--Footer Section--*/
    #wrapper{
        flex-direction: column;
        padding: 1em;
    }
    #wrapper div{
        width: 100%;
        padding-left: 0;
    }
}