.grid {
    background-color: cyan;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}
.itema {
    background-color: darkblue;
    grid-row: 1/3;
}