/*--General Style--*/
body{
    min-width: 380px;
    font-family: "Raleway", sans-serif;
    margin: auto;
    padding: 0 0.6em;
}
/*limit width for header and main for very big screen*/
.limit-width{
    max-width: 1200px;
    margin: auto;
}
h1{
    margin-bottom: 0.2em;
}
span{
    font-weight: bold;
}
.blue{
    color: #0065FC;
}
.grey{
    color: #f2f2f2;
}
/*--Header Style--*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    padding-top: 1.88em;
}
nav{
    display: flex;
    align-items: baseline;
}
nav a{
    text-decoration: none;
    border: 2px solid transparent;
    padding: 2.8em 0.9em 0 0.9em;
}
nav ul{
    display: flex;
    list-style-type: none;
}
.anchors{
    color: black;
    margin: 0 30px 0 30px;
}
nav a:hover{
    color: #0065FC;
    border-top-color: #0065FC;
}
#sign-in{
    color: #0065FC;
    font-weight: bold;
    padding: 2.8em 0.9em 0 1em;
}
/*--Search Section--*/
/*limit height for the child elements of "form"*/
.set-height{
    box-sizing: border-box;
    height: 45px;
}
form.search-bar{
    display: flex;
    align-items: center;
    max-width: 60%;
    min-width: 540px;/*for nice transition when shortening screen*/
    border: 1px solid #f2f2f2;
    border-radius: 0 14px 14px 0;
}
form.search-bar:focus-within{
    border-color: #0065FC;
}
.search-bar button{
    float: right;
    padding: 1em;
    color: white;
    font-weight: bold;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 14px 14px 0;
}
/*allow input text box to fill the page*/
.search-bar input[type=text]{
    flex-grow: 1;
    border: none;
    padding: 0 0 0 1em;
    outline: none;
    font-size: 1em;
}
#search-icon{
    float: left;
    background-color: #f2f2f2;
    font-size: 0.9em;
    padding: 1em;
    border: 1px solid #f2f2f2;
    border-radius: 14px 0 0 14px;
}
section p{
    margin-top: 0.5em;
}
/*hides the button used in mobile design
button:last-of-type*/
#m-btn{
    display: none;
    border-radius: 14px;
    padding: 0 1.1em;
}
/*--Filters Style--*/
#filter-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1em;
}
#filter-box h3{
    margin-right: 1em;
}
.filters{
    display: flex;
    align-items: center;
    margin-right: 1em;
    border: 2px solid #f2f2f2;
    height: 40px;
    border-radius: 22px;/*slightly more to cover the blanks*/
    position: relative;/*for the transition of the background on hover*/
    z-index: 1;
    background: none;
    transition:         0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}
.filters:before{/*the background itself*/
    content: "";
    position: absolute;
    background: #DEEBFF;
    border-radius: 20px;
    bottom: 0;
    left: 0;
    right: 100%;
    top: 0;
    z-index: -1;
    transition: right 0.09s ease-in;
    -webkit-transition: right 0.09s ease-in;
}  
.filters:hover:before{
    right: 0;
}
.filters:active{
    background-color: #DEEBFF;
    border-color: #0065FC;
}
.filters i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    background-color: #DEEBFF;
    height: 36px;
    width: 40px;
    border-radius: 20px;
    border: 2px solid #DEEBFF;
}
.filter-btn{
    display: block;
    outline: none;
    cursor: pointer;
    color: black;
    background: none;
    padding: 0;
    margin: 1em;
    border: none;
    height: 38px;
    border-radius: 20px;
    font-weight: bold;
}

#info-bulle{
    margin-right: 1em;
    padding: 3px 6px;
    font-size: 10px;
    color: #0065FC;
    border: 2px solid #f2f2f2;
    border-radius: 20px;
}
/*--Housing Section--*/
#housing{
    display: flex;
    justify-content: space-between;
}
#housing h3{
    font-size: 1em;
    margin: 0 0 0 0.5em;
}
#housing p{
    margin: 0 0 0 0.5em;
}
.thumb-box{
    display: flex;
}
.rating-box{
    margin: 0 0 0 0.5em;
}
.rating-box i{
    font-size: 0.7em;
}
/*-search result-*/
#search-result{
    background-color: #f2f2f2;
    width: 60%;
    border-radius: 1em;
    padding: 1em;
}
#search-result div.thumb-box{
    flex-wrap: wrap;
    justify-content: space-around;
}
.thumbnail{
    background-color: white;
    border-radius: 1.1em;
    padding: 0.3em;
    margin-bottom: 1em;
    width: 30%;
}
.thumbnail img{
    max-width: 100%;
    width: 220px;
    height: 100px;
    border-radius: 1em 1em 0 0;
    object-fit: cover;
}
#see-more{
    font-size: 1em;
    font-weight: bold;
    border: none;
    padding: 1em 0;
}
/*-aside-*/
#result-pop{
    background-color: #f2f2f2;
    width: 30%;
    border-radius: 1em;
    padding: 1em;
}
#result-pop div.thumb-box{
    flex-direction: column;
}
.aside-thumb{
    background-color: white;
    border-radius: 1.1em;
    padding: 0.3em;
    margin-bottom: 1em;
}
/*--Mobile Design--*/
@media (max-width: 600px) {
    body{
        padding: 0;
    }
    /*--Header Section--*/
    /*for the logo to stay in place*/
    header{
        align-items: stretch;
    }
    /*putting the logo out of the flexflow*/
    #logo{
        position: absolute;
        margin-left: 1em;
    }
    nav{
        flex-direction: column-reverse;/*the anchors are put at the bottom*/
        align-items: flex-end;/*sign-in stay on the right*/
        width: 100%;/*the flexbox takes the whole width*/
    }
    .navlist{
        width: 100%;/*the anchors takes the whole width*/
        margin-top: 15px;
    }
    /*center the anchors text*/
    nav ul{
        padding-left: 0;
        text-align: center;
    }
    /*both anchors takes half the screen*/
    .navlist li{
        width: 50%;
    }
    .navlist a{
        display: inline-block;
        width: 100%;
        padding-bottom: 12px;
        border-bottom: 2px solid #f2f2f2;
    }
    .navlist a:hover{
        border-bottom-color: #0065FC;
    }
    /*remove rules for desktop*/
    .anchors{
        padding: 0;
        margin: 0;
        border: none;
    }
    /*--Search Section--*/
    section{
        width: 93%;
        margin: auto;
    }
    form.search-bar{
        max-width: 100%;/*can take all section width*/
        min-width: 300px;
    }
    /*use form border to indicates focus on input text*/
    form.search-bar:focus-within{
        border-color: #0065FC;
    }
    /*display mobile design button
    button:last-of-type*/
    #m-btn{
        display: block;
    }
    /*hides the desktop one
    button:nth-last-of-type(2)*/
    #d-btn{
        display: none;
    }
    /*--Filters--*/
    
    #filter-box h3{
        width: 100%;/*the title takes the whole line to put the filters under*/
    }
    .filters{
        margin-bottom: 1em;/*replace the margin-bottom of the h3*/
    }
}